<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
				<h1>
					<%= image_tag 'congresso-agrimoney.png' %>
				</h1>
			</div>
		</div>
	</div>
	<div class="info-bar">
		<div class="date"><span>26 E 27 DE NOVEMBRO DE 2013</span></div>
		<div class="location"><span>CENARIUM RURAL, CUIABÁ - MT</span></div>
	</div>
	<%= image_tag 'banner.jpg' %>
</header>
