<h2>CONTATO</h2>
<form role="form">
  <div class="form-group">
    <label for="name" class="required">Nome</label>
    <input type="text" class="form-control input-lg" id="name" placeholder="nome">
  </div>
  <div class="form-group">
    <label for="email" class="required">E-mail</label>
    <input type="email" class="form-control input-lg" id="email" placeholder="e-mail">
  </div>
  <div class="form-group">
    <label for="assunto">Assunto</label>
    <input type="text" class="form-control input-lg" id="assunto" placeholder="assunto">
  </div>
  	<div class="form-group">
    	<label for="mensagem">Mensagem</label>
		<textarea class="form-control input-lg" rows="3"></textarea>
	</div>
  <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
</form>