<div id="about">

			<h2>O EVENTO</h2>
			
			<p class="lead"><strong>O Congresso Agrimoney é um evento itinerante que será realizado nas principais regiões de produção e comercialização agropecuária do Brasil.</strong></p>
			<p class="lead">O encontro tem como principal objetivo, brindar o conhecimento necessário para que os participantes das etapas do Circuito AgriMoney possam compreender os mecanismos de formação de preço e tendências na comercialização brasileira e mundial, possibilitando a combinação de ações comerciais no mercado físico, a termo, de futuros e derivativos.</p>
			<p class="lead">Um evento voltado para todos os níveis de conhecimento, com grande abrangência dos temas a serem discutidos, que vão desde a atualização mercadológica até estratégias avançadas de comercialização e garantia de renda.</p>
			<p class="lead">O AgriMoney é uma realização de  SAFRAS & Mercado e CANAL RURAL, com apoio de importantes entidades e veículos de mídia do agronegócio nacional.</p>
	<hr>
</div> <!-- /container -->