<div id="local">

<h2>LOCAL DO EVENTO</h2>
<p class="lead">O evento acontecerá no espaço de eventos da FAMATO, Cenarium Rural, em Cuiabá, Mato Grosso</p>
<%= image_tag 'slide-01.jpg', :class => "img-thumbnail" %>
<hr>
<div class="row">
	<div class="col-md-4">
		<h3>Cenarium Rural</h3>
	</div>
	<div class="col-md-8">
		<address>
		  Av. Dr. Hélio Hermínio Ribeiro Torquato da Silva<br>
		  Alvorada, Cuiabá, MT<br>
		  CEP 78048-405, Brasil
		</address>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-4">
		<p>Para trazer maior comodidade aos participantes, a organização do Congresso Agrimoney possui parcerias com os principais hotéis da cidade de Cuiabá. Reserve agora a sua estadia de 26 a 27 de novembro.</p>
		<p class="text-warning">Valores sujeitos a alterações sem prévio aviso.</p>
		<p class="text-warning">Sujeito a disponibilidade de apartamentos nos hotéis informados.</p>
	</div>
	<div class="col-md-8">
		<div class="box-hight-light">
			<address>
			  <strong>HOTEL INTERCITY PREMIUM CUIABA</strong><br>
			  Rua Presidente A Bernardes, 64<br>
			  Cuiabá, MT<br>
			  Fone: (65) 3025-9900
			</address>
			<hr>
			<h5>Tarifa Diária Com Café da Manhã</h5>
			<div class="row">
				<div class="col-md-6">
					<strong>Apto SGL</strong><br>
					R$ 240,00<br>
					13% ISS
				</div>
				<div class="col-md-6">
					<strong>Apto DBL</strong><br>
					R$ 270,00<br>
					13% ISS
				</div>
			</div>
			<hr>
			<a href="http://www.intercityhoteis.com.br/hotel/sobre-hotel-intercity-premium-cuiaba">http://www.intercityhoteis.com.br</a>
		</div>
		<div class="box-hight-light">
			<address>
			  <strong>HOLIDAY INN EXPRESS CUIABA</strong><br>
			  Avenida Miguel Sutil, 2050<br>
			  Cuiabá, MT<br>
			  Fone: (65) 3055-8550
			</address>
			<hr>
			<h5>Tarifa Diária Com Café da Manhã</h5>
			<div class="row">
				<div class="col-md-6">
					<strong>Apto SGL</strong><br>
					R$ 228,00<br>
					13% ISS
				</div>
				<div class="col-md-6">
					<strong>Apto DBL</strong><br>
					R$ 258,00<br>
					13% ISS
				</div>
			</div>
			<hr>
			<a href="http://www.holidaycuiaba.com.br/">http://www.holidaycuiaba.com.br</a>
		</div>
		<div class="box-hight-light">
			<address>
			  <strong>DEVILLE CUIABA</strong><br>
			  Avenida Isaac Povoas, 1000<br>
			  Cuiabá, MT<br>
			  Fone: (65) 3319-3000
			</address>
			<hr>
			<h5>Tarifa Diária Com Café da Manhã</h5>
			<div class="row">
				<div class="col-md-6">
					<strong>Apto SGL</strong><br>
					R$ 269,00<br>
					13% ISS
				</div>
				<div class="col-md-6">
					<strong>Apto DBL</strong><br>
					R$ 314,00<br>
					13% ISS
				</div>
			</div>
			<hr>
			<a href="http://www.deville.com.br/nossos-hoteis/hotel/cuiaba/deville-cuiaba/94/sobre-o-hotel.aspx">http://www.deville.com.br</a>
		</div>
	</div>
</div>

</div>