<div id="speakers">
	<h2>PALESTRANTES</h2>
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
			<img src="http://agro.olhardireto.com.br/imgsite/noticias/Carlos-Favaro_aprosoja(1).jpg" class="img-rounded speaker">
		</div>
		<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
			<h3>Carlos Henrique Fávaro</h3>
			<p class="text-muted">Presidente da APROSOJA Mato Grosso</p>
			<p></p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
			<img src="http://www.planetaarroz.com.br/site/imagens/editor/image/ed36/p33.jpg" class="img-rounded speaker">
		</div>
		<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
			<h3>Élcio Bento</h3>
			<p class="text-muted">Analista Pleno de Safras & Mercado</p>
			<p>Economista, Graduado em Economia pela Universidade Federal do Rio Grande do Sul- UFRGS, faz parte da divisão de consultores do Grupo SAFRAS há mais de 10 anos, com palestras, seminários e consultorias realizados em todo o país. Com experiência em análise de mercado de commodities agrícolas, atualmente é responsável pela análise de mercado de algodão, sendo editor das publicações diárias e semanais especializadas "SAFRAS & Mercado Algodão e Trigo”.</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
			<img src="http://t2.gstatic.com/images?q=tbn:ANd9GcRtTmkU9CSg76q1MXKjDQ7rzL3h1YAH7HVQHi-K5ylh13Z9VUDK" class="img-rounded speaker">
		</div>
		<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
			<h3>Flávio Roberto de França Junior</h3>
			<p class="text-muted">Analista do Mercado de Soja</p>
			<p>Economista, atua há 28 anos em análise agroeconômica e de mercados de commodities. É Diretor de Produtos e Analista Sênior da área de soja e oleaginosas do Grupo SAFRAS & Mercado.</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
			<img src="http://www.noticiasagricolas.com.br/dbimagens/entrevistados/a6227d94f967378cebcaf8167873082a.jpg" class="img-rounded speaker">
		</div>
		<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
			<h3>Gil Carlos Barabach</h3>
			<p class="text-muted">Analista do Mercado de Café</p>
			<p>Economista, Mestre em Economia do Desenvolvimento FACE-PUCRS. Especialização em Agribusiness e Gestão Agroindustrial. Atua há mais de 14 anos em análise agroeconômica e gestão de risco no mercado de commodities. Faz parte da divisão de consultores do Grupo Safras, com palestras, seminários e consultorias realizados em todo o país e na Europa.</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
			<img src="http://www.noticiasagricolas.com.br/dbimagens/79b811e8f4aea079a13f6dc21750c218.jpg" class="img-rounded speaker">
		</div>
		<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
			<h3>Glauber Silveira</h3>
			<p class="text-muted">Presidente da APROSOJA Brasil</p>
			<p></p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
			<img src="http://beefpoint.wpengine.netdna-cdn.com/wp-content/uploads/legado/wm/20364.jpg" class="img-rounded speaker">
		</div>
		<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
			<h3>Ivan Wedekin</h3>
			<p class="text-muted">Diretor Geral da Bolsa Brasileira de Mercadorias</p>
			<p></p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
			<img src="https://si0.twimg.com/profile_images/549803379/foto_marceloDez2008_-_C_pia.jpg" class="img-rounded speaker">
		</div>
		<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
			<h3>Marcelo D. Monteiro</h3>
			<p class="text-muted">Diretor Executivo da APROSOJA Mato Grosso</p>
			<p></p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
			<img src="https://si0.twimg.com/profile_images/950687577/neri_1.jpg" class="img-rounded speaker">
		</div>
		<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
			<h3>Neri Geller</h3>
			<p class="text-muted">Secretário de Política Agrícola do MAPA</p>
			<p></p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
			<img src="http://sspe.com.br/imgs/palestrantes/5ef99b8db2b15dd44bd474d8ad850121.jpg" class="img-rounded speaker">
		</div>
		<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
			<h3>Paulo Roberto Molinari</h3>
			<p class="text-muted">Analista do Mercado de Milho e Carnes</p>
			<p>Economista pela Universidade Federal do Paraná, com pós-graduação em Agribusiness pela FAE. Atua há 28 anos em análise econômica e de mercados agrícolas. Consultor Sênior em Agribusiness. Especialização nos segmentos de milho e carnes, sendo Diretor Técnico de SAFRAS & Mercado.</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
			<img src="http://www.datagroconferences.com.br/gaf2012/fotos/RobertHoff_pag.jpg" class="img-rounded speaker">
		</div>
		<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
			<h3>Robert Hoff</h3>
			<p class="text-muted">Adido Comercial e Representante do Conselho Agrícola dos EUA no Brasil</p>
			<p></p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
			<img src="http://www.aprosoja.com.br/sistema/modules/banco_pessoas/imagens/rui-carlos-ottoni-prado-24052013100302.jpg" class="img-rounded speaker">
		</div>
		<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
			<h3>Rui Carlos Ottoni Prado</h3>
			<p class="text-muted">Presidente da FAMATO</p>
			<p></p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
			<img src="http://www.sindicatoruraldesorriso.com.br/imagens/18062010105306.jpg" class="img-rounded speaker">
		</div>
		<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
			<h3>Seneri Kernbeis Paludo</h3>
			<p class="text-muted">Diretor Executivo da FAMATO</p>
			<p></p>
		</div>
	</div>
	<hr>
	<p class="text-warning">*Agenda sujeita a alterações</p>
	<hr>
</div>