<!-- <div class="table-responsive"> -->
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="2">
					<h3>WORKSHOP:</h3>
					<p class="lead">OTIMIZANDO A PERFORMANCE COMERCIAL E ESTRATÉGIAS PARA UMA MELHOR COMERCIALIZAÇÃO - PARTE II</p>
				</td>
			</tr>
			<tr>
				<td>08:30 às 10:30</td>
				<td>
					<h4>Mercado de Milho</h4>
					<p>Efeitos do petróleo e etanol para o mercado mundial de milho, novo formato de visualização do mercado mundial e nacional de milho, oportunidades de exportação de milho brasileiro e modificações na comercialização interna, análise fundamental, fatores de oferta e demanda, fatores econômicos na formação do preço do milho, contratos futuros, ajuste diário, margem, liquidações antes e no vencimento, formação do preço futuro, liquidação pelo Indicador BM&F/ESALQ, operações de troca com fixação nos preços futuros, negociações a termo, operações envolvendo troca por insumo, CPR e “Cash” and “Carry”. Tendências mercadológicas.</p>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://sspe.com.br/imgs/palestrantes/5ef99b8db2b15dd44bd474d8ad850121.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Palestrante:</span><br>
								<strong>Paulo Roberto Molinari</strong><br>
								Diretor e Consultor Sênior de Safras & Mercado
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://agro.olhardireto.com.br/imgsite/noticias/Carlos-Favaro_aprosoja(1).jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Moderador:</span><br>
								<strong>Carlos Henrique Fávaro</strong><br>
								Presidente da APROSOJA Mato Grosso
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr class="warning">
				<td>10:30 às 11:00</td>
				<td>Coffee break na área de exposição</td>
			</tr>
			<tr>
				<td>11:00 às 12:30</td>
				<td>
					<h4>Mercado de Algodão</h4>
					<p>Análise fundamental, características da oferta e da demanda, tendência para o comportamento do consumo, políticas reguladoras, cenário comercial internacional, fatores econômicos que incidem na formação do preço do algodão, sistema de comercialização no Brasil e características do comércio internacional. Tendências mercadológicas.</p>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://www.planetaarroz.com.br/site/imagens/editor/image/ed36/p33.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Palestrante:</span><br>
								<strong>Élcio Bento</strong><br>
								Analista de Safras & Mercado
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://agro.olhardireto.com.br/imgsite/noticias/MILTON-GARBUGIO-Ampa-22-Copia.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Moderador:</span><br>
								<strong>Milton Garbugio</strong><br>
								Presidente da Associação Matogrossense dos Produtores de Algodão
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr class="warning">
				<td>12:30 às 13:30</td>
				<td>Almoço no local do evento</td>
			</tr>
			<tr>
				<td>13:30 às 15:30</td>
				<td>
					<h4>Mercado de Boi</h4>
					<p>Avaliação dos principais parâmetros nacionais e internacionais no mercado de boi gordo, análise fundamental, produção nacional e mundial, quadro de oferta e demanda, sazonalidade da oferta, adequação da oferta ao quadro de mercado, utilização do mercado de futuros, confinamento, emprego, renda e sua influência na demanda de carnes, formação do preço do boi gordo a partir dos preços do atacado da carne, fluxo de exportações e importações, regras sanitárias externas, vantagens e desvantagens do mercado brasileiro. Tendências mercadológicas.</p>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://sspe.com.br/imgs/palestrantes/5ef99b8db2b15dd44bd474d8ad850121.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Palestrante:</span><br>
								<strong>Paulo Roberto Molinari</strong><br>
								Diretor e Consultor Sênior de Safras & Mercado
							</p>
						</div>
					</div>
					<div class="row hide">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Moderador:</span><br>
								<strong>-</strong><br>
								-
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr class="warning">
				<td>15:30 às 16:00</td>
				<td>Coffee break na área de exposição</td>
			</tr>
			<tr>
				<td colspan="2"><p class="lead">ASPECTOS OPERACIONAIS DA COMERCIALIZAÇÃO AGROPECUÁRIA<p></td>
			</tr>
			<tr>
				<td>16:00 às 17:00</td>
				<td>
					<h4>Procedimentos de operação no mercado de futuros e derivativos</h4>
					<p>Operando na BM&FBOVESPA e no CME, abertura de conta, custos de corretagem nas operações de futuros e/ou derivativos, margens de garantia e formas de encerramento das operações.</p>
					<div class="row hide">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Palestrante:</span><br>
								<strong>-</strong><br>
								-
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="https://si0.twimg.com/profile_images/549803379/foto_marceloDez2008_-_C_pia.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Moderador:</span><br>
								<strong>Marcelo D. Monteiro</strong><br>
								Diretor Executivo da APROSOJA Mato Grosso
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2"><p class="lead">TRIBUTAÇÃO DAS OPERAÇÕES DO AGRONEGÓCIO<p></td>
			</tr>
			<tr>
				<td>17:00 às 17:45</td>
				<td>
					<h4>Análise da tributação incidente sobre operações do mercado agropecuário</h4>
					<div class="row hide">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Palestrante:</span><br>
								<strong>-</strong><br>
								-
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://www.sindicatoruraldesorriso.com.br/imagens/18062010105306.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Moderador:</span><br>
								<strong>Sereni Kernbeis Paludo</strong><br>
								Diretor Executivo da FAMATO
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr class="warning">
				<td>17:45 às 18:00</td>
				<td>Encerramento</td>
			</tr>
		</tbody>
	</table>
<!-- </div> -->