<!-- <div class="table-responsive"> -->
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr class="warning">
				<td>08:00 às 08:30</td>
				<td>Credenciamento e welcome coffee</td>
			</tr>
			<tr class="warning">
				<td>08:30 às 08:40</td>
				<td>Abertura oficial do evento</td>
			</tr>
			<tr>
				<td>08:40 às 09:00</td>
				<td>
					<h4>Políticas públicas voltadas para o fortalecimento da agropecuária no Estado do Mato Grosso</h4>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://tvtaquari.com.br/wp-content/uploads/2011/05/silval-barbosa-25-08-09-cor11.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Palestrante:</span><br>
								<strong>Dr. Silval Barbosa</strong><br>
								Governador do Estado do Mato Grosso
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://www.afolhadomedionorte.com.br/wp-content/uploads/rui-prado-436.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Moderador:</span><br>
								<strong>Rui Carlos Ottoni Prado</strong><br>
								Presidente da Famato
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<h3>POLÍTICAS AGRÍCOLAS:</h3>
					<p class="lead">COMO ISSO AFETA O BOLSO DO PRODUTOS AGROPECUÁRIO?</p>
				</td>
			</tr>
			<tr>
				<td>09:00 às 09:30</td>
				<td>
					<h4>Cenário doméstico</h4>
					<p>Política agrícola diferenciada do MAPA e efeitos regionais do plano agrícola e pecuário 2013/2014. O papel do Governo Federal na construção de medidas anticíclicas para a agropecuária brasileira.</p>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://farm9.staticflickr.com/8248/8570221218_4ee693d69a_n.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Palestrante:</span><br>
								<strong>Dr. Antônio Eustáquio Andrade Ferreira</strong><br>
								Ministro de Estado de Agricultura, Pecuária e Abastecimento
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://www.midianews.com.br/imagens/noticias/1/Meraldo__AMM14042011124255.JPG" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Moderador:</span><br>
								<strong>Dr. Meraldo Figueiredo Sá</strong><br>
								Secretário de Estado de Desenvolvimento Rural e Agricultura Familiar do Mato Grosso
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>09:30 às 10:30</td>
				<td>
					<h4>Cenário internacional - visão da demanda</h4>
					<p>Considerando os atuais fundamentos e as projeções macroeconômicas para a economia chinesa, qual é a tendência para a importação dos principais produtos agropecuários produzidos no MT? Qual são os aspectos que a China mais valora e prioriza em termos de oferta de produtos agropecuários?</p>
					<div class="row hide">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Palestrante:</span><br>
								<strong>-</strong><br>
								-
							</p>
						</div>
					</div>
					<div class="row hide">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Moderador:</span><br>
								<strong>-</strong><br>
								-
							</p>
						</div>
					</div>
					<h4>Cenário internacional - visão da oferta</h4>
					<p>Considerando o status atual e previsões para o Farm Bill, qual deve ser a tendência para a produção e exportação de grãos e algodão nos EUA?</p>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://www.datagroconferences.com.br/gaf2012/fotos/RobertHoff_pag.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Palestrante:</span><br>
								<strong>Robert Hoff</strong><br>
								Adido Comercial e Representante do Conselho Agrícola dos EUA no Brasil
							</p>
						</div>
					</div>
					<div class="row hide">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://www.afolhadomedionorte.com.br/wp-content/uploads/rui-prado-436.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Moderador:</span><br>
								<strong>-</strong><br>
								-
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr class="warning">
				<td>10:30 às 11:00</td>
				<td>Coffee break na área de exposição</td>
			</tr>
			<tr>
				<td colspan="2">
					<h3>FORMAÇÃO MERCADOLÓGICA:</h3>
					<p class="lead">COMPREENDENDO O FUNCIONAMENTO E DINÂMICA DOS MECANISMOS COMERCIAIS QUE MELHORAM E PROTEGEM A RENDA DO PRODUTOR AGROPECUÁRIO</p>
				</td>
			</tr>
			<tr>
				<td>11:00 às 11:30</td>
				<td>
					<h4>Mecanismos de apoio à comercialização, de garantia e sustentação de preços e instrumentos de financiamento provados</h4>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="https://si0.twimg.com/profile_images/950687577/neri_1.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Palestrante:</span><br>
								<strong>Neri Geller</strong><br>
								Secretário de Política Agrícola do MAPA
							</p>
						</div>
					</div>
					<div class="row hide">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://www.afolhadomedionorte.com.br/wp-content/uploads/rui-prado-436.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Moderador:</span><br>
								<strong>-</strong><br>
								-
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>11:30 às 12:30</td>
				<td>
					<h4>Mercado Futuro & Opções</h4>
					<p>Participantes do Mercado, hedge, base, a ligação entre os preços do mercado físico (cash) e o mercado futuro, estratégias de compra e venda, operações ex-Pit, spread, arbitragem, operações sintéticas, especulação, ajuste diário, margem de garantia, formas de liquidação e características dos contratos de algodão, boi, milho e soja na BM&FBOVESPA</p>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://beefpoint.wpengine.netdna-cdn.com/wp-content/uploads/legado/wm/20364.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Palestrante:</span><br>
								<strong>Ivan Wedekin</strong><br>
								Diretor Geral da Bolsa Brasileira de Mercadorias
							</p>
						</div>
					</div>
					<div class="row hide">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://www.afolhadomedionorte.com.br/wp-content/uploads/rui-prado-436.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Moderador:</span><br>
								<strong>-</strong><br>
								-
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr class="warning">
				<td>12:30 às 14:00</td>
				<td>Almoço no local do evento</td>
			</tr>
			<tr>
				<td>14:00 às 15:00</td>
				<td>
					<h4>Gerenciamento de riscos de mercado</h4>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3 hide">
							<img src="" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Palestrante:</span><br>
								<strong>Marco Sampaio</strong><br>
								Chefe da Mesa de Gestão de Riscos na JBS EUA 
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3 hide">
							<img src="http://www.afolhadomedionorte.com.br/wp-content/uploads/rui-prado-436.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Moderador:</span><br>
								<strong>Roberto Perondi</strong><br>
								CME Group
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<h3>WORKSHOP:</h3>
					<p class="lead">OTIMIZANDO A PERFORMANCE COMERCIAL E ESTRATÉGIAS PARA UMA MELHOR COMERCIALIZAÇÃO - PARTE I</p>
					<p>Análise de Conjuntura, fundamentos e tendências agroeconômicas: Algodão, boi, milho, soja, câmbio e juros.</p>	
				</td>
			</tr>
			<tr>
				<td>15:00 às 16:00</td>
				<td>
					<h4>Mercado de Soja - Parte I</h4>
					<p>Aprendendo a antecipar os fatores que determinam a precificação do produto. O conceito de preço FOB de exportação, o tripé de definição dos preços internos da soja – CBOT, prêmio e câmbio, a paridade de exportação, a paridade para fixação de preços futuros, a margem de esmagamento (crush margin), a importância da taxa de câmbio.</p>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://t2.gstatic.com/images?q=tbn:ANd9GcRtTmkU9CSg76q1MXKjDQ7rzL3h1YAH7HVQHi-K5ylh13Z9VUDK" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Palestrante:</span><br>
								<strong>Flávio Roberto de França Junior</strong><br>
								Consultor Associado de Safras & Mercado
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://www.noticiasagricolas.com.br/dbimagens/79b811e8f4aea079a13f6dc21750c218.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Moderador:</span><br>
								<strong>Glauber Silveira</strong><br>
								Presidente da APROSOJA Brasil
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr class="warning">
				<td>16:00 às 16:30</td>
				<td>Coffee break na área de exposição</td>
			</tr>
			<tr>
				<td>16:30 às 17:30</td>
				<td>
					<h4>Mercado de Soja - Parte II</h4>
					<p>Sistema de comercialização no Brasil, mercado físico, de exportação FOB, CIF e por resellers, de balcão e para fixação, de lotes ou disponível, a termo, a soja verde, a troca por insumos e o adiantamento, a CPR e a CPR financeira. Tendências mercadológicas.</p>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://t2.gstatic.com/images?q=tbn:ANd9GcRtTmkU9CSg76q1MXKjDQ7rzL3h1YAH7HVQHi-K5ylh13Z9VUDK" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Palestrante:</span><br>
								<strong>Flávio Roberto de França Junior</strong><br>
								Consultor Associado de Safras & Mercado
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://www.noticiasagricolas.com.br/dbimagens/79b811e8f4aea079a13f6dc21750c218.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Moderador:</span><br>
								<strong>Glauber Silveira</strong><br>
								Presidente da APROSOJA Brasil
							</p>
						</div>
					</div>
					
				</td>
			</tr>
			<tr>
				<td>17:30 às 18:30</td>
				<td>
					<h4>Macroeconomia, câmbio e juros</h4>
					<p>Desenlace da crise financeira internacional e previsões para o comportamento da economia dos EUA e da China. Fundamentos macroeconômicos para o mercado brasileiro e tendência para o comportamento do mercado de câmbio e juros. O que isso significa para o segmento produtivo agropecuário brasileiro?</p>
					<div class="row hide">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Palestrante:</span><br>
								<strong>-</strong><br>
								-
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
							<img src="http://www.aprosoja.com.br/sistema/modules/banco_pessoas/imagens/rui-carlos-ottoni-prado-24052013100302.jpg" class="img-rounded thumb-speaker">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
							<p class="speaker">
								<span class="text-muted">Moderador:</span><br>
								<strong>Rui Carlos Ottoni Prado</strong><br>
								Presidente da Famato
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr class="warning">
				<td>18:30 às 20:00</td>
				<td>Coquetel na área de exposição</td>
			</tr>
		</tbody>
	</table>
<!-- </div> -->
